@import url("/home/Coolio/.config/colors/Vauxhall/Vauxhall.gtk.css");


#window {
	margin: 5px;
	padding: 0px;
	color:@text;
	font-size:16px;
	font-weight:normal;
}

window#waybar {
	background-color: transparent;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
	background-color: @background;
	margin: 3px;
	padding: 0px 3px;
	font-size: 16px;
}

#workspaces button {
	color: @text;
	margin: 4px 3px;
	padding: 0px 3px 0px 0px;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

#workspaces button.active {
	color: @text;
	background: @background;
	margin: 4px 3px;
	min-width: 30px;
	transition: all 0.3s ease-in-out;
}

#clock 
{
	background-color: @background;
	color: @text;
	margin: 8px 8px 8px 2px;
	font-size: 16px;
	padding: 0px 10px;
	font-size: 16px;
}

#bluetooth,
#battery,
#pulseaudio
{
	background-color: @background;
	color: @text;
	margin: 8px 2px;
	font-size: 16px;
	padding: 0px 13px 0px 10px;
	font-size: 16px;
}

#cpu,
#memory,
#disk
{
  color: @text;
	margin: 8px 2px 8px 8px;
	padding: 0px 10px;
	background-color: @background;
	font-size: 16px;
}

#memory,
#disk
{
	margin: 8px 2px 8px 2px;
}



#cpu.idle,
#memory.idle,
#disk.empty
{
	color: @mint;
}

#cpu.low,
#memory.low, 
#disk.low
{
    color: @cyan;
}

#cpu.medium,
#memory.medium,
#disk.medium
{
    color: @blue;
}


#cpu.high,
#memory.high,
#disk.high
{
    color: @violet;
}

#battery.warning,
#cpu.warning,
#memory.warning,
#disk.warning
{
	color: @magenta;
}

#battery.critical,
#cpu.critical,
#memory.critical,
#disk.critical
{
    color: @hot-red;
}

